.sec1 {
  background-image: url("/boot3/public3/img/sec1/sec1_bg.gif");
  height: 800px;
}

.sec1 .ctl1 .row1 .write .yellowImg {
  background-image: url(/boot3/public3/img/sec1/yellow.png);
}

.sec1 .ctl1 .row1 .humanBox .woman {
  background-image: url(/boot3/public3/img/sec1/woman.png);
}

.sec1 .ctl1 .row1 .humanBox .tube {
  background-image: url(/boot3/public3/img/sec1/tube.png);
}

.sec1 .ctl1 .row1 .humanBox .tubeman {
  background-image: url(/boot3/public3/img/sec1/tube_man.png);
}

.sec1 .ctl1 .row1 .humanBox .tubewoman {
  background-image: url(/boot3/public3/img/sec1/tube_woman.png);
}

.sec1 .ctl1 .row1 .humanBox .tubehuman {
  background-image: url(/boot3/public3/img/sec1/human.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  width: 100%;
  height: 0;
  padding-bottom: 30%;
}
